




@media (max-width:425px){
    a[data-lightbox]:hover::before {
        margin-left: 50%;
    }
}
@media (min-width:425px) and (max-width:767px){
    a[data-lightbox]:hover::before {
        margin-left: 40%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

